@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Licorice&family=Montserrat&family=Tangerine&display=swap');
:root{
  --dark-color: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  --montserrat: font-family: 'Montserrat', sans-serif;
  --tangerine: font-family: 'Tangerine', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}
html,
body {
  height: 100%;
  min-height: 100%;
  min-width: 400px;
}
a {
  text-decoration: none;
  color: #fff;
}
a.active {
  border-bottom: 2px solid #85c2ff;
}
.header {
  height: auto;
}

#header-scroll {
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  float: left;
  width: 100%;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-scroll h1 {
  padding: 200px 0;
  height: 100%;
  font-size: 4em;
  text-align: center;
  line-height: 40px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-scroll.small {
  height: auto;
  display: inline-block;
}
#header-scroll.small h1 {
  padding: 10px 0;
  height: auto;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  height: auto;
  position: fixed;
  top: 0;
}
nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 30px;
}
nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #85c2ff;
}
h1 {
  font-size: 5rem;
  color: #34495e;
  margin: 0px;
}

p{
  color: #d6e0eb;
  font-size: 1rem;
  margin-bottom: 0px;
}


section {
  width: 100%;
  height:auto;
  min-height: 800px;
  padding-bottom: 100px;
  /* background-color: #000000;
  background-image: --dark-color; */
  background-size: cover;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #888;
}

.sections section:first-child {
  margin-top: 100px;
}

.section-name{
  padding-bottom: 20px;
}

#footer1{
  /* background-color: #000000;
  background-image: --dark-color; */
  background-size: cover;
  background-origin:border-box;
  padding: 0px 20px;
}

#fullscreen{
  background-color: #000000;
  background-image: var(--dark-color);
}
/* about */
#about-box{
  display: flex;
  padding: 30px;
}

#myimg-box{
  flex:4;
  padding-top: 10%;
}

#my-information-box{
  flex:6;
}

#myimg{
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#myname{
  /* font-family: 'Dancing Script', cursive; */
  font-size: 2rem;
}
.introduce-myself{
  color:aliceblue
}

#infor{
  display: flex;
  flex-direction: column;
}

#LDH{
  font-family: 'Licorice', cursive;
  color: aliceblue;
  text-align: center;
  width: 100%;
}
/* information */
#LDH-bigger{
  font-family: 'Licorice', cursive;
  color: aliceblue;
  font-size: 7rem;
}

.reference{
  color: aliceblue;
  font-size: 2rem;
}

#logo{
  height:auto;
  text-align: center;
  box-sizing: border-box;
  width: 10%;
}


#Information{
  padding-top: 200px;
  box-sizing:border-box ;
  height:100vh;
  background-image: url('assets/image/BG.png')  ;
}

#skills{
  border-bottom: none;
}

/* projects */
/* #project{
  height: auto;
} */

#project-list{
  display: flex;
  flex:1;
  justify-content:space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
}

.getproject{
  min-width: 250px;
  min-height: 350px;
  color:aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin:12px 20px;
  /* border: 5px solid #4f74fa; */
  border-radius: 30px;
  box-shadow: 21px 21px 29px 1px rgba(0, 0, 0, 0.3);
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  ;
}

.getproject:hover{
  box-shadow: rgba(88, 43, 235, 0.4) 5px 5px, rgba(88, 43, 235, 0.3) 10px 10px, rgba(88, 43, 235, 0.2) 15px 15px, rgba(88, 43, 235, 0.1) 20px 20px, rgba(88, 43, 235, 0.05) 25px 25px;
}

.project-name{
  font-family: var(--montserrat);
  color:rgb(241, 236, 254);
  font-size: 1.2rem;
  font-weight: bold;
  flex:1;
  padding-top: 10px;
}


.img-project-box{
  flex:6
}

.img-project{
  width: 80%;
  max-height: 90%;
  background-size: cover;
}

.introduce-project{
  margin:0 10%;
  flex:3;
  padding-bottom:20px;
}

#playmusic{
  color: aliceblue;
  align-content: center;
  box-sizing: content-box;
  cursor: pointer;
  flex:1;
}

#play-music:active{
  background-color: aqua;
}

